<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title> Some Website </title>
    </head>
    <body>
        <h1>{{pageTitle}}</h1>
        <p>{{welcomeMessage}}<br>current time is {{currentTime}}:{{currentMinutes}}:{{currentMilisec}}</p>
    </body>
    <footer>
        <p>Copyright {{currentYear}}</p>
    </footer>
</html>