<!DOCTYPE html>

<html>
        {{> header}}
    <body>
        <h1></h1>{{pageTitle}}</h1>
        <p>{{welcomeMessage}}<br>current time is {{currentTime}}:{{currentMinutes}}:{{currentSec}}:{{currentMilliSec}}</p>
    </body>
      {{> footer}}
</html>